<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title>New Pizza</title>
</head>

<body>
<div class="container">
	<nav th:replace="fragments/navbar :: navbar('pizza')"></nav>
	
		<h1 class="text-center">Nuova Pizza</h1 >
		<hr />
		
		<form id="pizza-form" th:object="${pizza}" th:action="${edit} ? @{/pizza/edit/{id}(id=${pizza.id})} :@{/pizza/docreate}" method="post">  
		
		

			<div class="row gy-2">
			<div class="col-8">
				<div class="col-6">
					<label class="form-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
					<ul>
						<li th:each="err :${#fields.errors('nome')}" th:text="${err}"></li >
					</ul>
					</div >
				</div>
				
				<div class="col-3">
					<label class="form-label" for="prezzo">Prezzo</label>
					<input type="text" class="form-control" id="prezzo" th:field="*{prezzo}" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
					<ul>
					
					<li th:each="err : ${#fields.errors('prezzo')}" th:text="${err}"></li >
					</ul>
					</div >
				</div>
				
				<div class="col-6">
					<label class="form-label" for="descrizione">Descrizione</label>
					<input type="text" class="form-control" id="descrizione" th:field="*{descrizione}">
					<div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
					<ul>
					<li th:each="err : $ {#fields.errors('descrizione')}" th:text="${err}"></li >
					</ul>
					</div >
				</div>
				
				
			</div>
				
					<div class="col-4">
			<h4>Ingredienti</h4>
			
			 <div class="form-check" th:each="ingr : ${ingredientiList}">
				  <input class="form-check-input" type="checkbox" th:id="|ingredienti_${ingr.id}|" th:value="${ingr.id}" th:field="*{ingredienti}"></input>
				  <label class="form-check-label" th:for="|ingredienti_${ingr.id}|" th:text="${ingr.nome}"></label>
				</div>
							
			</div>
		
				
				<div class="col-12">
				
					<button class="btn btn-primary" type="submit"><i class="fas fa-check"></i></i> Salva</button>
					<a class="btn btn-primary" th:href="@{/}"><i class="fas fa-undo"></i> Indietro</a>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/resources :: scripts"></div>
</body>
</html>

	