<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title>Edit Books</title>
</head>

<body>
	<nav th:replace="fragments/navbar :: navbar('books')"></nav>
	<div class="container">
		<h1>Books</h1>
		<hr />
		<id="book-form" th:object="${pizza}" th:action="@{/pizza/create}" method="post">

			<div class="row gy-2">
				<div class="col-12">
					<label class="form-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}">
				</div>

				
				<div class="col-12">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</div>
		

		</form>
	</div>
	<div th:replace="fragments/resources :: scripts"></div>
</body>

</html>